.main-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 150px 0px;
}

.main-contact-title {
    font-size: 40px;
}

.main-contact-subtitle {
    font-size: 22px;
}

.main-contact-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 750px;
    padding-top: 50px;
}

.main-contact-container-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
}

.main-contact-container-info-icon {
    color: #5BC82C;
    font-size: 40px;
    margin-bottom: 10px;
}

.main-contact-container-info-text {
    font-size: 20px;
}

@media screen and (max-width: 800px) {
    .main-contact-container {
        flex-direction: column;
    }

    .main-contact-container-info {
        margin: 20px ;
    }

    .main-contact-title {
        font-size: 30px;
    }

    .main-contact-subtitle {
        font-size: 20px;
    }

    .main-contact-container-info-icon {
        font-size: 30px;
    }

    .main-contact-container-info-text {
        font-size: 18px;
    }
}